#userCardsContainer,
#computerCardsContainer,
#userPlayerPointsContainer,
#computerPlayerPointsContainer,
#positionsContainer {
  margin: 0 4px;
}

/*  user and computer containers  */

#userContainer,
#computerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

#userName,
#computerName {
  font-size: 17px;
  font-weight: bold;
}

/* Cards for Players */

.playerCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 130px;
  height: auto;
  margin: 0 3px;
  text-align: center;
}

img {
  border-radius: 5px;
  width: auto;
  height: 160px;
}

.playerName {
  font-size: 13px;
  font-weight: bold;
}

/* Positions */

#positionsContainer {
  border-radius: 12px;
  background-color: hsl(204, 86%, 53%);
}

.position {
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Points */

#userPlayerPointsContainer,
#computerPlayerPointsContainer {
  text-align: center;
}

.points {
  font-size: 12px;
  font-weight: bold;
}

/* Button */

#simulateBtnContainer {
  margin: 15px auto 0 auto;
  max-width: 800px;
}
