/* User */

#userCardsContainer, #computerCardsContainer {
  margin: 20px 3px;
  /*   border: 1px solid black; */
}

#userContainer, #computerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Cards for Players */

.playerCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 130px;
  height: auto;
  margin: 0 5px;
  text-align: center;
}

img {
  border-radius: 5px;
  width: auto;
  height: 160px;
}

/* Positions */

.position {
  text-align: center;
  font-weight: bold;
}

/* Points */

#userPlayerPointsContainer, #computerPlayerPointsContainer {
  text-align: center;
}

.points {
  font-size: 14px;
}
