@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

#titleContainer {
    margin-bottom: 100px;
}

#parentContainer {
    text-align: center;
    background-color:hsl(204, 86%, 53%)
}

#titleLineOne {
    font-size: 60px;
    margin-bottom: 60px;
    letter-spacing: 10px;
    word-spacing: 15px;
}

#titleLineTwo {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 10px;
    word-spacing: 15px;
}

#titleLineThree {
    font-size: 55px;
    font-style: italic;
    margin-bottom: 70px;
    letter-spacing: 5px;
}

#titleLineOne, #titleLineTwo, #titleLineThree {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.listPosition {
    font-size: 12px;
    font-style: italic;
}

#instructionsContainer {
    margin: 0 auto;
    list-style-position: inside;
    text-align: left;
}

.instructions {
    margin: 20px 0;
    font-size: 15px;
}

#instructionsBtn {
    font-weight: bold;
}

#btnContainer {
    width: 725px;
    margin: 0 auto;
}

#aboutBtn {
    color: white;
    background-color: hsl(227, 100%, 35%);
    font-weight: bold;
}

a {
    color: white;
}

a:hover {
    color: hsl(348, 100%, 61%);
}

.homeIcons {
    margin-right: 10px;
}

@media screen and (min-width: 1500px) {
    #btnContainer {
        text-align: center;
        background-color:hsl(204, 86%, 53%);
        margin-bottom: 180px;
    }
}