#titleContainer {
    margin-bottom: 100px;
}

#parentContainer {
    text-align: center;
    background-color:hsl(204, 86%, 53%)
}

#titleLineOne {
    font-size: 60px;
    margin-bottom: 40px;
}

#titleLineTwo {
    font-size: 70px;
    font-style: italic;
    margin-bottom: 40px;
}

#titleLineThree {
    font-size: 55px;
    margin-bottom: 60px;
}

.listPosition {
    font-size: 10px;
    font-style: italic;
}

#instructionsContainer {
    margin: 0 auto;
    list-style-position: inside;
    text-align: left;
}

.instructions {
    margin: 5px 0;
    font-size: 15px;
}

#btnContainer {
    width: 725px;
    margin: 0 auto;
}

#aboutBtn {
    color: white;
    background-color: hsl(227, 100%, 35%);
}