#buildTeamTitle {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

/* Main Container */

#buildTeamContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Sub-Container 1 */

#playerPicturesContainer {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-right: 30px;
}

#btPositionsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#selectPositionsContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 120px;
}

#playerPicturesContainer {
    margin-left: 70px;
}

.btPositions {
    margin: 94px 0;
    font-weight: bold;
}

select {
    width: 150px;
    border: 1px solid hsl(227, 100%, 35%);
    background-color: hsl(0, 100%, 70%);
    margin: 97px 0;
}

.playerPictures {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.playerImage {
    width: 225px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid hsl(227, 100%, 35%);
}

#createTeamBtnContainer {
    margin: 15px auto;
    width: 300px;
}

#createTeamBtn {
    font-weight: bold;
}

.buildTeamIcons {
    margin-right: 10px;
}

